* {
    box-sizing: border-box;
    padding: 110;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 50px; 
}


header h1 .seo {
    color: #a8e46d;
}

header nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    margin-left:200px;
    margin-bottom: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 0px;
}


a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
}

p {
    font-size: 16px;
}

.hero {
    height: 1200px;
    width: 100%;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 20px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

main {
    width: 75%;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 40px;
    border-bottom: #d4dee2;

}

aside {
    padding: 35px;
    margin-right: 50px;
    margin-top: 20px;
    border-top: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-item h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-item img {
    display: block;
    margin: 10px auto;
    max-width: 50px;
}

.middle-section {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 40px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.middle-section img {
    max-height: 200px;
}

.middle-section h2 {
    margin-bottom: 20px;
    font-size: 30px;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:#2589bd
}

footer h4 {
    font-size: 20px;
    color:#2589bd
    
}
